@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7ttidd');
  src:  url('../fonts/icomoon.eot?7ttidd#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7ttidd') format('truetype'),
    url('../fonts/icomoon.woff?7ttidd') format('woff'),
    url('../fonts/icomoon.svg?7ttidd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-map:before {
  content: "\e902";
}
.icon-paper:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-video:before {
  content: "\e905";
}
.icon-wi-fi:before {
  content: "\e906";
}
.icon-youtube:before {
  content: "\e907";
}
