extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lg-fb-comment-box.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lg-transitions.css`)

//- Contenido
block content
	section.bellavista__banner
		.bellavista__banner__container
			.bellavista__banner__content
				p Sede Medicentro Bellavista

	section.bellavista__ubicanos
		.bellavista__ubicanos__img
			.bellavista__ubicanos__background(style=`background-image: url('${STATIC_URL}img/background-ubicanos.png')`)
				.bellavista__ubicanos__container
					.bellavista__ubicanos__content
						.bellavista__ubicanos__text
							span Ubícanos
						.bellavista__ubicanos__direction
							h3 Av. Oscar R. Benavides Edificio 3, Piso 2, Mall Plaza Bellavista Callao
						.bellavista__ubicanos__link
							a.bellavista__ubicanos__link__text(href="http://maps.google.com/maps?q=loc:-12.058292, -77.038076" target="_blank") ¿Cómo llegar?
						.bellavista__ubicanos__phone
							p Central Telefónica
							a(href="tel:619 6161") (01) 619 6161

	section.bellavista__horarios
		.bellavista__horarios__container(style=`background-image: url('${STATIC_URL}img/img-fondo-doctor.png')`)
			.bellavista__horarios__content
				.bellavista__horarios__page
					.bellavista__horarios__left
						.bellavista__horarios__slider
							ul.bellavista__horarios__slider__items
								li(class="bellavista__horarios__left__tab" data-id="tab1" data-page="1" data-rotate="146")
									.bellavista__horarios__slider__img
										img.horarios__img__normal(src=`${STATIC_URL}img/horarios-1.png`)
										img.horarios__img__hover(src=`${STATIC_URL}img/horarios-1-white.png`)
								li(class="bellavista__horarios__left__tab" data-id="tab2" data-page="2" data-rotate="125")
									.bellavista__horarios__slider__img
										img.horarios__img__normal(src=`${STATIC_URL}img/horarios-2.png`)
										img.horarios__img__hover(src=`${STATIC_URL}img/horarios-2-white.png`)
								li(class="bellavista__horarios__left__tab" data-id="tab3" data-page="3" data-rotate="104")
									.bellavista__horarios__slider__img
										img.horarios__img__normal(src=`${STATIC_URL}img/horarios-3.png`)
										img.horarios__img__hover(src=`${STATIC_URL}img/horarios-3-white.png`)
					.bellavista__horarios__right
						.bellavista__horarios__text
							.bellavista__horarios__title
								h3 ¿Conoces nuestros  
									strong horarios de atenciones?
							ul.bellavista__horarios__right__tabs
								li(class="horarios__left__tab" id="tab1") 
									div.bellavista__horarios__title__tab
										p 1. Ambulatorio (Programa Cuídate)
									ul.horarios__left__tab__content
										li Lunes a Viernes: 07:30 a 21:00 horas.
										li Sábado: 08:00 a 17:00 horas.
										li Las atenciones médicas son a partir de las 8:00 a.m.
								li(class="horarios__left__tab" id="tab2")
									div.bellavista__horarios__title__tab
										p 2. Ambulatorio (Programa Cuídate)
									ul.horarios__left__tab__content
										li Lunes a Viernes: 07:30 a 20:00 horas.
										li Sábado: 08:00 a 18:00 horas.
										li Las atenciones médicas son a partir de las 8:00 a.m.
								li(class="horarios__left__tab" id="tab3")
									div.bellavista__horarios__title__tab
										p 3. Ambulatorio (Programa Cuídate)
									ul.horarios__left__tab__content
										li Lunes a Viernes: 07:30 a 21:00 horas.
										li Sábado: 08:00 a 19:00 horas.
										li Las atenciones médicas son a partir de las 8:00 a.m.
							.bellavista__horarios__cita
								.bellavista__horarios__cita__text
									h4 Es fácil cuidarte
										strong ¡Visita a tu médico!
								.bellavista__horarios__cita__btn
									a.btn__cita Reserva cita

	section.bellavista__video
		.bellavista__video__container(style=`background-image: url('${STATIC_URL}img/fondo-video.png')`)
			.bellavista__video__content
				.bellavista__video__text
					.bellavista__video__title
						h3 Tecnología de primera
							strong para resultados 100% seguros
					.bellavista__video__fancy.video-gallery
						a(href="https://www.youtube.com/watch?v=meBbDqAXago" class="bellavista__video__icon")
							span.icon-video
							.bellavista__video__icon__text
								p ver video


	section.bellavista__servicios
		.bellavista__servicios__container
			.bellavista__servicios__content
				.bellavista__servicios__text
					.bellavista__servicios__text__title
						h3 Servicios de la Sede:
					.bellavista__servicios__text__content
						.bellavista__servicios__box
							-for (var i = 1; i <= 10; i++)
								.bellavista__servicios__box__container
									.bellavista__servicios__box__img
										img(src=`${STATIC_URL}img/servicios-3.png`)
									.bellavista__servicios__box__text
										p Centro de Diagnóstico por Imágenes (CDI)
			.bellavista__servicios__img
				.bellavista__servicios__background(style=`background-image: url('${STATIC_URL}img/img-servicios.png')`)

	section.bellavista__especialidades
		.bellavista__especialidades__container(style=`background-image: url('${STATIC_URL}img/fondo-especialidades.jpg')`)
			.bellavista__especialidades__content
				.bellavista__especialidades__title
					h3 Especialidades en la Sede
				.bellavista__especialidades__slider
					.bellavista__especialides__slider__content
						-for (var x = 1; x <= 4; x++)
							.bellavista__especialidades__box
								ul.bellavista__especialidades__lista
									li
										.bellavista__especialidades__box
											.bellavista__especialidades__img
												img(src=`${STATIC_URL}img/especialidades-img1.png`)
											.bellavista__especialidades__text
												p Anestesiología
									li
										.bellavista__especialidades__box
											.bellavista__especialidades__img
												img(src=`${STATIC_URL}img/especialidades-img2.png`)
											.bellavista__especialidades__text
												p Cirugía Cardiovascular
									li 
										.bellavista__especialidades__box
											.bellavista__especialidades__img
												img(src=`${STATIC_URL}img/especialidades-img3.png`)
											.bellavista__especialidades__text
												p Cirugía Maxilo Facial, Cabeza y Cuello
									li
										.bellavista__especialidades__box
											.bellavista__especialidades__img
												img(src=`${STATIC_URL}img/especialidades-img4.png`)
											.bellavista__especialidades__text
												p Cirugía Plástica
									li 
										.bellavista__especialidades__box
											.bellavista__especialidades__img
												img(src=`${STATIC_URL}img/especialidades-img5.png`)
											.bellavista__especialidades__text
												p Dermatología
									li 
										.bellavista__especialidades__box
											.bellavista__especialidades__img
												img(src=`${STATIC_URL}img/especialidades-img6.png`)
											.bellavista__especialidades__text
												p Gastroenterología–Centro Endoscópico
									li 
										.bellavista__especialidades__box
											.bellavista__especialidades__img
												img(src=`${STATIC_URL}img/especialidades-img7.png`)
											.bellavista__especialidades__text
												p Ginecología y Obstetricia


//- js
append scripts 
	script(src=`${STATIC_URL}js/slick/slick.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lightgallery.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-video.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-autoplay.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-zoom.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-hash.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-pager.js`)

	script.
		$(()=>{
			// TAB-horarios

			$(".bellavista__horarios__slider__items li").click(function(e) {
				e.preventDefault();
				$(".bellavista__horarios__slider__items li").removeClass('active');
				$(this).addClass('active');
				var idtab = $(this).attr('data-id');
				$('.horarios__left__tab').removeClass('active');
				$('.horarios__left__tab[id="'+idtab+'"]').addClass('active');
			});

			//SLIDER - especialidades
			$('.bellavista__especialides__slider__content').slick({
				dots: true,
				arrows: false,
				infinite: false,
				//- autoplaySpeed: 900,
				speed: 700,
				slidesToShow: 2,
				slidesToScroll: 1,
				autoplay: true,
				responsive: [
					{
						breakpoint: 1090,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1,
						}
					},
				]
			});

			// FANCY-VIDEO
			$('.video-gallery').lightGallery({
				selector: 'a'
			});
		})

		// ANIMACION ROTATE - horarios
		function fullscreenrotate(){
			var ancho = $(window).width();
			if (ancho > 480) {
				var inicial = 146;
				var inicial2 = 34;

				$('.bellavista__horarios__slider__items li').each(function( index ) {
					$(this).attr('data-rotate', inicial);
					inicial-=21;
				});
				$('.bellavista__horarios__slider__items li').each(function( index ) {
					$(this).attr('style', 'transform:rotate('+inicial2+'deg); -webkit-transform:rotate('+inicial2+'deg);-moz-transform:rotate('+inicial2+'deg);-ms-transform:rotate('+inicial2+'deg); -o-transform:rotate('+inicial2+'deg);');
					inicial2+=21;
				});
				$('.bellavista__horarios__slider__items li').click(function(event) {
					$(this).parent('ul').css('transform', 'rotate('+$(this).attr('data-rotate')+'deg)');
				});

				$(".bellavista__horarios__slider__items li:nth-child(1)").addClass('active');
				$(".bellavista__horarios__right__tabs li:nth-child(1)").addClass('active');
				$(".bellavista__horarios__slider__items li:nth-child(1)").trigger('click');
			}else{
			};
		};
		fullscreenrotate();