.bellavista__servicios__container
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
.bellavista__servicios__content
	width: 50%
	position: relative
	&:before
		content: ''
		position: absolute
		right: -25px
		top: 50%
		width: 0
		height: 0
		border-style: solid
		border-width: 25px 0 25px 25px
		border-color: transparent transparent transparent #ffffff
.bellavista__servicios__text
	max-width: 580px
	width: 95%
	margin: auto
	margin-right: 40px
	padding: 65px 0px 40px 0px

.bellavista__servicios__text__title
	padding-bottom: 55px
	h3
		font-family: $t-10
		font-size: 30px
		color: $c-0
.bellavista__servicios__box__container
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center
	width: 50%
	padding: 25px 0px
	border-top: 1px solid $c-5
	&:nth-child(1), &:nth-child(2)
		border-top: none
.bellavista__servicios__box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start


.bellavista__servicios__box__img
	width: 46px
	height: 46px
	img
		width: 100%
		height: auto
.bellavista__servicios__box__text
	width: 60%
	padding-left: 20px
	p
		font-family: $t-0
		font-size: 15px
		color: $c-0
		margin-bottom: 0
.bellavista__servicios__img
	width: 50%
.bellavista__servicios__background
	width: 100%
	height: 100%
	background-size: cover
	background-position: top center
	background-repeat: no-repeat

@media screen and (max-width: 1280px)
	.bellavista__servicios__text
		margin-right: auto

@media screen and (max-width: 980px)
	.bellavista__servicios__img
		display: none
	.bellavista__servicios__text
		max-width: 860px
	.bellavista__servicios__content
		width: 100%
		&:before
			display: none
	.bellavista__servicios__text__title
		padding-bottom: 30px

@media screen and (max-width: 820px)
	.bellavista__servicios__text__title
		h3
			font-size: 26px
	.bellavista__servicios__box__text
		p
			font-size: 14px

@media screen and (max-width: 460px)
	.bellavista__servicios__box__text
		width: 80%
		text-align: center
		padding-left: 0px
		padding-top: 20px