.bellavista__ubicanos__img
	width: 100%
.bellavista__ubicanos__background
	width: 100%
	height: 100%
	background-repeat: no-repeat
	background-size: cover
	background-position: top center
	position: relative
	&:before
		content: ''
		width: 100%
		height: 100%
		left: 0
		top: 0
		position: absolute
		background: linear-gradient(45deg, rgba(0,50,158,0.6) 0%, rgba(150,84,217,0) 100%)
.bellavista__ubicanos__container
	max-width: 1200px
	width: 95%
	margin: auto
	text-align: right
	height: 100%
	position: relative
	padding-top: 170px
	padding-bottom: 170px

.bellavista__ubicanos__text
	padding-bottom: 20px
	span
		font-family: $t-7
		font-size: 21px
		color: $blanco

.bellavista__ubicanos__direction
	padding-bottom: 40px
	h3
		font-family: $t-8
		font-size: 27px
		color: $blanco
		margin-bottom: 0
.bellavista__ubicanos__link
	padding-bottom: 50px
	
.bellavista__ubicanos__link__text
	font-family: $t-7
	font-size: 16px
	color: $blanco
	text-transform: uppercase
	position: relative
	padding-left: 30px
	&:before
		content: '\e902'
		font-family: $icomoon
		font-size: 22px
		position: absolute
		left: 0
		bottom: 0
.bellavista__ubicanos__phone
	p 
		font-family: $t-7
		font-size: 21px
		color: $blanco
		margin-bottom: 0
	a
		font-family: $t-8
		font-size: 27px
		color: $blanco
.bellavista__ubicanos__content
	width: 40%
	margin-right: 0
	margin-left: auto
	text-align: left
	padding-left: 150px
	position: relative
	&:before
		content: ''
		position: absolute
		width: 130px
		height: 2px
		left: 0
		top: 12px
		background: $blanco

@media screen and (max-width: 1150px)
	.bellavista__ubicanos__content
		width: 50%
	.bellavista__ubicanos__container
		padding-top: 140px
		padding-bottom: 140px

@media screen and (max-width: 820px)
	.bellavista__ubicanos__container
		padding-top: 120px
		padding-bottom: 120px
	.bellavista__ubicanos__content
		width: 75%
	.bellavista__ubicanos__text
		span
			font-size: 18px
	.bellavista__ubicanos__direction
		h3
			font-size: 20px
	.bellavista__ubicanos__link__text
		font-size: 15px
	.bellavista__ubicanos__phone
		p
			font-size: 17px
		a
			font-size: 24px

@media screen and (max-width: 680px)
	.bellavista__ubicanos__container
		padding-top: 90px
		padding-bottom: 90px
	.bellavista__ubicanos__content
		width: 95%
		padding-left: 0
		margin-right: auto
		&:before
			display: none