.bellavista__video__container
	width: 100%
	height: 100%
	background-repeat: no-repeat
	background-size: cover
	background-position: top center
	position: relative
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: $c-0
		opacity: 0.4
.bellavista__video__content
	position: relative

.bellavista__video__text
	text-align: center
	padding-top: 185px
	padding-bottom: 185px
.bellavista__video__title
	padding-bottom: 70px
	h3
		font-family: $t-3
		font-size: 30px
		color: $blanco
		display: block
		margin-bottom: 0
		line-height: 1.3
		strong
			font-family: $t-1
			font-size: 22px
			color: $blanco
			display: block
			font-weight: 100
.bellavista__video__icon
	span
		font-size: 90px
		color: $blanco

.bellavista__video__icon__text
	padding-top: 20px
	p
		font-family: $t-5
		font-size: 16px
		color: $blanco
		margin-bottom: 0
		text-transform: uppercase

@media screen and (max-width: 820px)
	.bellavista__video__text
		padding-top: 120px
		padding-bottom: 120px
	.bellavista__video__title
		padding-bottom: 50px
		h3
			font-size: 26px
			strong
				font-size: 18px
	.bellavista__video__icon__text
		p
			font-size: 15px