.bellavista__horarios
	width: 100%
	background-color: $c-3
	&:before

.bellavista__horarios__container
	height: 100%
	width: 100%
	background-size: cover
	background-repeat: no-repeat
	background-position: center
.bellavista__horarios__content
	width: 100%
	position: relative
	&:before, &:after
		content: ''
		position: absolute
		z-index: 100
		width: 100%
		left: 0
		display: block
		height: 100px
		pointer-events: none
	&:before
		top: 0
		background-image: url(../img/patron-1.png)
	&:after
		bottom: 0
		background-image: url(../img/patron-2.png)
.bellavista__horarios__page
	width: 95%
	max-width: 960px
	margin: auto
	position: relative
	padding-left: 12%
.bellavista__horarios__left, .bellavista__horarios__right
	position: relative
	z-index: 5
	display: inline-block
	vertical-align: middle
	box-sizing: border-box
.bellavista__horarios__left
	padding-right: 40px
	width: 52%
	overflow: hidden
	height: 650px
.bellavista__horarios__slider
	position: absolute
	z-index: 5
	height: 680px
	top: 0px
	right: 150px
	&:after
		content: ''
		position: absolute
		top: 40%
		right: -20px
		width: 0
		height: 0
		border-style: solid
		border-width: 20px 0 30px 25px
		border-color: transparent transparent transparent rgba(255,255,255,0.5)
.bellavista__horarios__slider__items
	position: relative
	border: 25px solid rgba(255,255,255,0.5)
	border-radius: 50%
	width: 650px
	height: 650px
	box-sizing: border-box
	transition: all 0.6s ease


.bellavista__horarios__left__tab
	position: absolute
	width: 420px
	height: 1px
	right: 50%
	top: 50%
	transform-origin: 100% 100%

.bellavista__horarios__slider__img
	width: 70px
	height: 70px
	border-radius: 50%
	cursor: pointer
	background-color: $blanco
	transition: all 0.2s
	display: inline-block
	position: relative
	transform: rotate(180deg)
	img
		width: 100%
		height: auto
		display: block
		max-width: 100px
		transition: all 0.25s
	.horarios__img__normal
		opacity: 1
	.horarios__img__hover
		opacity: 0
		position: absolute
		top: 0
		left: 0

.bellavista__horarios__left__tab.active
	.bellavista__horarios__slider__img
		background-color: $c-1
		.horarios__img__normal
			opacity: 0
		.horarios__img__hover
			opacity: 1

.bellavista__horarios__right
	padding-top: 80px
	padding-bottom: 50px
	z-index 120
	vertical-align: top
	width: 46%
	z-index: 100

.bellavista__horarios__text
	position: relative
.horarios__left__tab
	position: absolute
	top: 0
	left: 0
	opacity: 0
	visibility: hidden
	z-index: -1
	padding: 0px 25px
	&.active
		position: relative
		opacity: 1
		visibility: visible
		z-index: 1
.bellavista__horarios__right__tabs
	position: relative
	padding-bottom: 75px
.bellavista__horarios__title
	padding-bottom: 50px
	h3
		font-family: $t-3
		font-size: 33px
		color: $c-0
		display: block
		margin-bottom: 0
		strong
			font-family: $t-1
			font-size: 24px
			color: $c-0
			display: block
			padding-left: 25px
.horarios__left__tab__content
	li
		font-family: $t-2
		font-size: 17px
		color: $c-2
		padding-bottom: 15px
		position: relative
		padding-left: 30px
		&:before
			content: '\e900'
			font-family: $icomoon
			position: absolute
			top: 0
			left: 0
			font-size: 8px
			border: 1px solid $c-1
			border-radius: 50%
			padding: 5px
			color: $c-1
.bellavista__horarios__cita
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start

.bellavista__horarios__cita__text
	margin: auto
	margin-left: 0
	margin-right: auto
	padding-right: 25px
	h4
		font-family: $t-1
		font-size: 20px
		color: $c-0
		display: block
		margin-bottom: 0
		strong
			font-family: $t-4
			font-size: 20px
			color: $c-0
			display: block
.bellavista__horarios__cita__btn
	margin: auto
	margin-left: 0
	margin-right: auto
.btn__cita
	background-color: $c-4
	font-family: $t-5
	font-size: 16px
	color: $blanco
	padding: 15px 45px
	border-radius: 8px
	text-transform: uppercase
	display: block

.bellavista__horarios__title__tab
	background-color: $c-1
	color: $blanco
	padding: 15px
	border-radius: 16px
	margin-bottom: 40px
	p
		font-family: $t-9
		font-size: 16px
		margin-bottom: 0

@media screen and (max-width: 1220px)
	.bellavista__horarios__page
		padding-left: 0

@media screen and (max-width: 820px)
	.bellavista__horarios__container
		background-position: right
	.bellavista__horarios__left
		width: 38%
	.bellavista__horarios__right
		width: 60%
	.bellavista__horarios__right__tabs
		padding-bottom: 45px
	.bellavista__horarios__title
		h3
			font-size: 28px
			strong
				font-size: 22px
	.bellavista__horarios__title__tab
		padding: 12px
		margin-bottom: 30px
		p
			font-size: 15px
	.horarios__left__tab__content
		li
			font-size: 15px
	.bellavista__horarios__cita__text
		padding-right: 12px
		h4
			font-size: 18px
			strong
				font-size: 17px

@media screen and (max-width: 690px)
	.bellavista__horarios__left
		display: none
	.bellavista__horarios__right
		width: 100%
	.bellavista__horarios__title
		text-align: center
	.bellavista__horarios__cita__text
		margin-left: auto
		margin-right: 0
	.bellavista__horarios__right
		padding-top: 50px
	.bellavista__horarios__right__tabs
		padding-bottom: 20px
	.horarios__left__tab
		position: relative
		opacity: 1
		visibility: visible
		z-index: 1
		padding-bottom: 30px
		pa
	.bellavista__horarios__title__tab
		width: 80%

@media screen and (max-width: 490px)
	.horarios__left__tab
		padding-left: 0
		padding-right: 0
	.bellavista__horarios__title__tab
		width: 94%
	.horarios__left__tab__content
		li
			font-size: 14px
	.bellavista__horarios__cita__text
		margin-right: auto
		text-align: center
		padding-bottom: 30px
	.bellavista__horarios__cita__btn
		margin-left: auto