.bellavista__especialidades
	overflow: hidden
.bellavista__especialidades__container
	width: 100%
	height: 100%
	background-repeat: no-repeat
	background-size: cover
	background-position: top right
	position: relative
	&:before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		background: #0033A0
		opacity: 0.9

.bellavista__especialidades__content
	position: relative
	padding: 60px 0px 65px 0px
	max-width: 1520px
	width: 95%
	margin-right: 0
	margin-left: auto


.bellavista__especialidades__title
	padding-bottom: 60px
	h3
		font-family: $t-10
		font-size: 30px
		color: $blanco
		margin-bottom: 0

.bellavista__especialidades__lista
	li
		padding-bottom: 50px
.bellavista__especialidades__img
	width: 20px
	height: 20px
	img
		width: 100%
		height: auto
.bellavista__especialidades__box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
.bellavista__especialidades__text
	width: 80%
	padding-left: 12px
	p
		font-family: $t-0
		font-size: 18px
		color: $blanco
		margin-bottom: 0

.bellavista__especialides__slider__content
	.slick-list 
		padding-right: 150px
	.slick-dots
		text-align: right
		right: 20%
		bottom: -45px
		.slick-active
			button
				border: 1px solid $c-6
				border-radius: 50%
				width: 20px
				height: 20px
				&:before
					display: block
					line-height: 22px
					font-size: 14px
					color: $c-6
		button
			border: 1px solid $c-6
			border-radius: 50%	
			width: 10px
			height: 10px
			&:before
				display: none	


@media screen and (max-width: 1090px)
	.bellavista__especialides__slider__content
		.slick-list 
			padding-right: 300px
		.slick-dots
			text-align: center
			right: 0

@media screen and (max-width: 820px)
	.bellavista__especialides__slider__content
		.slick-list 
			padding-right: 150px
	.bellavista__especialidades__text
		p
			font-size: 15px
	.bellavista__especialidades__title
		h3
			font-size: 26px

@media screen and (max-width: 600px)
	.bellavista__especialides__slider__content
		.slick-list 
			padding-right: 0px