.bellavista__banner
	background: $c-0
	width: 100%
	height: 350px
.bellavista__banner__container
	max-width: 1200px
	width: 95%
	margin: auto
	text-align: right
	height: 100%
	display: flex
	position: relative
	&:before
		content: ''
		width: 290px
		height: 190px
		position: absolute
		bottom: 0
		right: 0
		background: url(../img/before-banner.png)
		background-repeat: no-repeat
		z-index: 1
.bellavista__banner__content
	font-family: $t-6
	font-size: 38px
	color: $blanco
	margin-top: auto
	margin-left: auto
	margin-bottom: 70px
	margin-right: 0
	z-index: 2

@media screen and (max-width: 820px)
	.bellavista__banner__container
		text-align: center
	.bellavista__banner__content
		margin-right: auto
		font-size: 34px
	.bellavista__banner
		height: 300px
	.bellavista__banner__container
		&:before
			left: 0
			margin: auto

@media screen and (max-width: 480px)
	.bellavista__banner__content
		font-size: 30px